language: python
cache: pip
before_install:
  - sudo apt-get install -y python3-pip python3-setuptools
install:
  - pip3 install mkdocs-bootswatch
  - pip3 install mkdocs-bootstrap
  - pip3 install mkdocs
  - pip3 install mkdocs-material
  - pip3 install pymdown-extensions
  - git clone https://github.com/pagerduty/mkdocs-theme-pagerduty && cd mkdocs-theme-pagerduty & python3 setup.py install
script:
  - mkdocs build --clean
