language: python
python:
  - 2.7
cache: pip
install:
  - pip install awscli
  - pip install mkdocs-bootswatch==0.1.0
  - pip install mkdocs-bootstrap==0.1.1
  - pip install mkdocs==0.15.3
  - pip install mkdocs-material==0.2.4
  - pip install pymdown-extensions==6.3
script:
  - mkdocs build --clean
